@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700,800,900');



html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.container-fluid{
    padding: 0;
}

.section-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 32px; 
    padding-bottom: 5px;
}

/* go to top button */ /* code snippet taken from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(0, 0, 0, 0.7); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 25px; /* Increase font size */
}

#myBtn:hover {
 color: orange;
}

/* navbar */
.logo {
    width: 80px;
    height: 80px;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    background: rgba(0, 0, 0, 0.7);
    font-size: 20px;
}
.navbar .navbar-nav .nav-item a {
    color: #fff;
}



.navbar .nav-item.active .nav-link,
.navbar .nav-item:focus .nav-link,
.navbar .nav-item:hover .nav-link {
    color: orange;
}

.jumbotron {
    padding-top: 90px;
    padding-bottom: 90px;
    background: url('../images/jumbotron.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center 5%;
    height: 100%;
}

.top-hero .maintitle h1 {
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 15px;
    margin-top: 300px;
    margin-bottom: 18px;
    color: white;
    opacity: 0.85;
    line-height: 1;
    padding: 0;
    text-shadow: -1px -1px 1px black, 1px 1px 1px white;
}

.top-hero .maintitle p {
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 0px;
    display: block;
    margin-bottom: 244px;
    color: orange;
    opacity: 0.8;
    line-height: 1;
    padding: 0;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
}

.section-title {
    padding-top: 40px;
    margin-bottom: 35px;
}
/*----------------------------------------------Ourstory*/

.our-story-header {
    margin-top: 0;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 5px;
}
.our-story-header:after {
    content: "";
    display: inline-block;
    height: 4px;
    width: 60px;
    background: orange;
    position: absolute;
    left: 50%;
    top: 75%;
    bottom: -5px;
    margin-left: -30px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}


/*----------------------------------------------Band*/

#band{
    margin: auto;
}
.band-header {
    margin-top: 0;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 5px;
}
.band-header:after{
    content: "";
    display: inline-block;
    height: 4px;
    width: 60px;
    background: orange;
    position: absolute;
    left: 50%;
    top: 75%;
    bottom: -5px;
    margin-left: -30px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.card-deck {
    margin: 10px 10px 30px 10px;
    background: #fff;
    justify-content: center;
    
}
.card-deck .col-md-2{
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}


.card {
    border: none;
    position: relative;
    margin: 40px auto;
    border-radius: 4px;
    overflow: hidden;
    max-width: 300px;
}

.card h3 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: -35px;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: #fff;
    -webkit-text-fill-color: orange;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2.00px; 
    transition: .5s;
}

.card:hover h3 {
    text-shadow: 5px 3px 8px rgba(0, 0, 0, 0.7);
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 540px) {
    .card:hover h3 {
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    }
}
@media (min-width: 720px) {
    .card:hover h3 {
    top: 20%;
    transform: translateY(-50%);
    font-size: 30px;
    } 
}
@media (min-width: 960px) {
    .card:hover h3 {
    top: 35%;
    transform: translateY(-50%);
    font-size: 30px;
    }
}

.card-title {
    padding: 5px;
    background: #101113;
    color:orange;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    
}
.card-body {
    padding: 10px;
}

/*----------------------------------------------Music*/

.music-header {
    text-shadow:0px 5px 50px #fff400;
    color: white;
    margin-top: 0;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 5px;
    
}

.music-header::after{
    content: "";
    display: inline-block;
    height: 4px;
    width: 60px;
    background: white;
    position: absolute;
    left: 50%;
    top: 75%;
    bottom: -5px;
    margin-left: -30px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}


.music-player .container {
    background: rgba(233, 182, 105, 0.3);
    height: auto;
    width: 96%;
    max-width: 60em;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

#music {
    background: url('../images/music.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.music iframe {
    margin-bottom: 10px;
}

/*----------------------------------------------Videos*/


#video{
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}
.video-header {
    margin-top: 0;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 5px;
}

.video-header:after{
    content: "";
    display: inline-block;
    height: 4px;
    width: 60px;
    background: orange;
    position: absolute;
    left: 50%;
    top: 75%;
    bottom: -5px;
    margin-left: -30px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.embed-responsive {
    margin: 10px;
}


/*----------------------------------------------photos*/


.photo-header {
    text-shadow:0px 5px 50px #fff400;
    color: #fff;
    margin-top: 0;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 5px;
}

.photo-header:after{
    content: "";
    display: inline-block;
    height: 4px;
    width: 60px;
    background: white;
    position: absolute;
    left: 50%;
    top: 75%;
    bottom: -5px;
    margin-left: -30px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

#photos {
    background: url('../images/photos.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.photo-gallery {
    margin: auto;
}

.photo-gallery img {
    
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    width: 310px;
    height: auto;

}

.photo-gallery img:hover {
    
     filter: none;
     -webkit-filter: grayscale(0);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}


/*----------------------------------------------Tour*/


#tour{
    margin: auto;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.tour-header{ 
    margin-top: 0;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 5px;
}

.tour-header:after {
    content: "";
    display: inline-block;
    height: 4px;
    width: 60px;
    background: orange;
    position: absolute;
    left: 50%;
    top: 75%;
    bottom: -5px;
    margin-left: -30px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.tour-section .item {
    position: relative;
    padding-left: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.tour-section .date-label {
    background: #101113;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;   
    position: absolute;
    left: 0;
    top: 15px;
}

.tour-section .tour-title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
}

.location a {
    color: orange;
}

.tour-section .tour-actions {
    position: absolute;
    right: 0;
    top: 15px;
}

.btn-ghost-dark{
    color: black;
}

.btn-ghost-dark:hover {   
    -webkit-box-shadow: inset 0 100px 0 0 #101113;
    -moz-box-shadow: inset 0 100px 0 0 #101113;
    box-shadow: inset 0 100px 0 0 #101113;
    color: orange;
    border: 2px solid orange;
}

.btn-secondary{
    background-color: black;
}

a.btn-secondary:hover, 
a.btn-secondary:active, 
a.btn-secondary:focus, 
.btn-secondary:hover, 
.btn-secondary:active, 
.btn-secondary:focus {
    background:orange;
    border: 2px solid black;
    color: black;
    outline: none;
}

.tour-section .info {
    font-size: 16px;
}

.tour-contact{
    margin-top: 30px;
}

.tour-contact h4{
    text-transform: uppercase;
    padding:20px;
}
.tour-contact p{
    padding:5px;
}


/*----------------------------------------------contacts*/

#contacts {
    color: #fff;
    background-color: #101113;
    text-align: center;
}
.contacts-header {
    margin-top: 0;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 5px;
}

.contacts-header:after{
    content: "";
    display: inline-block;
    height: 4px;
    width: 60px;
    background: orange;
    position: absolute;
    left: 50%;
    top: 75%;
    bottom: -5px;
    margin-left: -30px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.newsletter h3{
    text-transform: uppercase;
    padding:5px;
}

.newsletter p{
    text-align: center;
    font-size: 14px;
    padding:5px;
}
.newsletter .email{
    padding: 50px 0px;
}

.contact-links{
    margin: auto;
}

.social-links {
    padding-top: 15px;
    padding-bottom: 15px;
}
.social-links li a i {
    
    width: 50px;
    height: 50px;
    padding: 12px;
    font-size: 25px;
    text-align: center;
    color: white;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: orange;
}


/*----------------------------------------------Media Queries*/

@media (max-width: 768px){
.tour-section .tour-actions {
    position: static;
    margin-top: 15px;
    margin-bottom: 15px;
}
}